.content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 3em 7em;
    margin: auto;
    
}

header{
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

header p{
    color: #006EB6;
    font-size: 16px;
}

.content{
    max-width: 600px;
}

main{
    line-height: 1.5;
}

li{
    margin-bottom: 15px;
}

footer{
    text-align: center;
}

img{
    margin-top: 50px;
    width: 150px;
}

.dark{
    background-color: #333;
    color: #fff;
}

.dark select {
    background-color: #333;
    color: #fff;
}

.dark header p{
    color: #66CCFF;
}