body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 20px;
}

main{
    max-width: 600px;
    padding: 0 60px;
    margin: -40px auto;
}

a img{
    height: 50px;
    width: auto;
    margin: 20px 40px 0 40px;
}

h1, h2{
    text-align: center;
    color: rgb(245, 202, 46);
}

h2{
    margin-top: 40px;
}

#restartButton{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(74, 75, 79);
    color: rgb(203, 203, 203);
    display: block;
    margin: 20px auto;
    width: 250px;
    text-align: center;
}

p{
    line-height: 20px;
}

li{
    line-height: 60px;
}

.result{
    background-color: rgb(74, 75, 79);
    padding: 20px 40px;
    border-radius: 20px;
}

.user_result{
    padding-bottom: 20px;
}

h2{
    margin: 20px 0 0 0;
}

button #restartButton:active{
    transform: 0 5px;
}

@media screen and (max-width: 600px){
    main{
        padding: 3vh 20px; 
        box-sizing: border-box;
        margin-top: 1px;
    }

    .result{
        padding: 20px 40px;
    }

    nav img{
        position: absolute;
        top: 0;
        left: 0;
        margin: 75px 10px;
        border-radius: 5px;
    }
}